
<div class="sidenav">
    <div class="login-main-text">
       <h2>Welcome Back<br> To <span class="jamiyahHero">Jamiyah!</span></h2>
       <p>Login from here to access your account.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="signin-form">
          <form>
             <div class="form-group">
                <label>Email Address</label>
                <input type="email" class="form-control" placeholder="Email">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <a class="login" href="/">Login</a>  <a class="forgot" href="/auth/forget_password">Forgot Password</a>
             
        
          </form>
       </div>
    </div>
 </div>