body {
    font-family: "Lato", sans-serif;
}


.selected
{
    text-decoration: underline;
    color: #d5d5d5;
}
.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .signin-form{
        margin-top: 60%;
    }

    .signup-form{
        margin-top: 18%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 27%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
    font-size: 65px;
}

.btn-black{
    background-color: #000000 !important;
    color: #ffffff;
}

.jamiyahHero{
    color: rgb(251, 255, 0);
    font-weight: 500;
}



.login{
    text-decoration: none;
    color: #000;
    margin-left: 2%;
    font-weight: 860;
    border: none;
    background-color: transparent;
}

.login:hover{
    text-decoration: none;
    color: #e7e30c;
    background-color: transparent;
}

.signup{
    text-decoration: none;
    color: rgb(103, 102, 102);

}

.signup:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.forgot{
    font-size: 12px;
    margin-left: 1%;
    text-decoration: none;
    color: #343434;
}

.forgot:hover{
    color: #000;

}


.menu
{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 5vw;
    align-items: baseline;
}
nav a{
    margin: auto 1vw;
    color: #FFF;
}
nav a:hover{
    color: #e7e30c;
    text-decoration: none;
}
.logo img
{
    height: 5vw;
}
.footer{
    text-align: center;
    background-color: #000;
    height: 3vw;
    color: #FFF;
    bottom: 0;
    width: 100%;
    position:fixed;
    align-items: center;
}
.footer h5{
    margin: 1vw;
    font-size:smaller;
}
.body
{
    align-content: center;
}
.header h1
{
    text-align: center;
    margin: 2vw;
    font-weight: bold;
}

.card-bg
{
    text-align: center;
    background-color: #000000;
}
.text-uppercase
{
    color:#e7e30c
}
.link 
{
    color: #d5d5d5;
}

.link:hover{
    text-decoration: none;
    color: #e7e30c;
}

.reset{
    background-color: #000;
    text-align: center;
}

.reset-header{
    color: #e7e30c;
    margin-top: 5%;
}

.form-gap {
    padding-top: 70px;
}

.container-reset{
    width: 100%;
    margin-left: 33%;
}

.sec-code, .newPass{
    width: 100%;
    padding: 5px;
    
}

.newPass{
    margin-top: 8px;
}

.reset-btn{
    width: 100%;
    height: 30px;
    background-color: #e7e30c;
    border: none;
    border-radius: 10px;
}

.reset-btn:hover{
    background-color: #fffb00;
}

.icons{
    padding: 10px;
}

.register-home-links{
    text-align: center;
    padding-top: 5%;
    
}

.login-home , .signup-home{
    background-color: #000 !important;
    border-color: #000 !important;
    
}

.signup-home{
    margin-left: 10px;
}

.login-home:hover , .signup-home:hover{
    background-color: #ffe100 !important;
    border-color: #ffe100!important;
    color: #000 !important;
}

.hero{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../imgs/time-is-money-business-financing-and-investment-concept-businessman-and-businesswoman-handshake-outline-design-minimal-illustration-for-landing-page-web-banner-infographics-hero-images-vector.jpg");

    /* Set a specific height */
    height: 725px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.header-home{
    color: #ffee00;
    font-weight: bold;
    font-size: 90px;
    padding-bottom: 4%;
    
}

.hero-text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
}

.hero-description{
    color: #ffffff;
    font-weight: 500;
}

.highlight{
    background-color: #e8d900;
    color: #000;
    padding: 0 6px;
    border-radius: 10px;
    
}

.card-current {
    width: 29% !important;
    height: 200px;
    border-radius: 30px;
    background: #212121;
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
}

.jamName{
    padding: 15px;
}

.create-jam{
    margin-left: 28%;
    margin-top: 4%;
}

.create-submit{
    margin-top: 3%;
    color: #d5d5d5 !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.boldboy{
    font-weight: bold;
}

.home-jam-box{
    border-radius: 10px !important;
    
}