body {
    font-family: "Lato", sans-serif;
}


.selected
{
    text-decoration: underline;
    color: #d5d5d5;
}
.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .signin-form{
        margin-top: 60%;
    }

    .signup-form{
        margin-top: 18%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000000 !important;
    color: #ffffff;
}

.jamiyahHero{
    color: rgb(251, 255, 0);
    font-weight: 500;
}



.login{
    text-decoration: none;
    color: #000;
    margin-left: 2%;
    font-weight: 860;
}

.login:hover{
    text-decoration: none;
    color: #e7e30c;
}

.signup{
    text-decoration: none;
    color: rgb(103, 102, 102);

}

.signup:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.forgot{
    font-size: 12px;
    margin-left: 1%;
    text-decoration: none;
    color: #343434;
}

.forgot:hover{
    color: #000;

}

.menu
{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 5vw;
    align-items: baseline;
}
nav a{
    margin: auto 1vw;
    color: #FFF;
}
nav a:hover{
    color: #e7e30c;
    text-decoration: none;
}
.logo img
{
    height: 5vw;
}
.footer{
    text-align: center;
    background-color: #000;
    height: 3vw;
    color: #FFF;
    bottom: 0;
    width: 100%;
    position:fixed;
    align-items: center;
}
.footer h5{
    margin: 1vw;
    font-size:smaller;
}
.body
{
    align-content: center;
}
.header h1
{
    text-align: center;
    margin: 2vw;
    font-weight: bold;
}

.card-bg
{
    text-align: center;
    background-color: #000000;
}
.text-uppercase
{
    color:#e7e30c
}
.link 
{
    color: #d5d5d5;
}

.link:hover{
    text-decoration: none;
    color: #e7e30c;
}