
<div class="menu">
    <div class="logo">
        <a href="/"><img src="../../imgs/Jamiyah.png" alt="jamiyah logo"></a>
    </div>
    <div class="nav">
        <nav class="icons">
            <a href="/jamiyah/home"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/jamiyah/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>

<div class="hero">

    <div class="hero-text">

        <h1 class="header-home">Jamiyah.</h1>
        <h2 class="hero-description">A Platform Where You Can <span class="highlight">Create</span> And <span class="highlight">Manage </span> <span class="highlight">Many Jamiyahs</span> At Once! Sign Up And Start Managing Your Jamiyahs Now.</h2>

    <div class="register-home-links">

        <!-- <a href="/auth/signout">logout</a>  -->
        <a href="/auth/signin" class="btn btn-primary btn-lg login-home">Login</a>
        <a href="/auth/signup" class="btn btn-primary btn-lg signup-home">Signup</a>
    
    </div>

    </div>

    

</div>






