
<div class="menu">
    <div class="logo">
        <a href="/"><img src="../../imgs/Jamiyah.png" alt="jamiyah logo"></a>
    </div>
    <div class="nav">
        <nav class="icons">
            <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/jamiyah/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>

<section class="home-text">
    <h1 class="header-home">Jamiyah.</h1>
    <!-- <h6>A platform that allows users to join or create Jamiyahs where they can contribute with a set amount of money which will be summed and given to each member monthly.</h6> -->
    <h6>A platform That Allows You To Create And Manage Many Jamiyahs At Once! Sign Up And Start Managing Your Jamiyahs And Account.</h6>

</section>



<div class="register-home-links">

    <!-- <a href="/auth/signout">logout</a>  -->
    <a href="/auth/signin" class="btn btn-primary login-home">Login</a>
    <a href="/auth/signup" class="btn btn-primary signup-home">Signup</a>

</div>


