<div class="menu">
    <div class="logo">
        <a href="/"><img src="../../imgs/Jamiyah.png" alt="jamiyah logo"></a>
    </div>
    <div class="nav">
        <nav class="icons">
            <a href="/jamiyah/home"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/jamiyah/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>

<h2>Create a Jamiyah</h2>

<div class="col-md-6 col-sm-12 create-jam">
    <form method="POST" action="/jamiyah/create" class="create-jam">
        <div>
            <label class="boldboy">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
    
        <div>
            <label class="boldboy">Description</label>
            <input type="text" name="description" class="form-control">
        </div>

        <div>
            <label class="boldboy">Start Date</label>
            <input type="date" name="startDate" class="form-control">
        </div>
    
        <div>
            <label class="boldboy">Duration</label>
            <input type="text" name="duration" class="form-control">
        </div>
    
        <div>
            <label class="boldboy">Monthly contribution</label>
            <input type="number" name="monthlyContribution" class="form-control">
        </div>
        
        <div>
            <label class="boldboy">Participants</label>
            <select name = "participants" multiple class="form-control">
                <% users.forEach(a => {%>
                <option value="<%= a._id %>">
                <%= a.email %> </option>
                <%}); %>
            </select>
            
        </div>
        <input type="hidden" value="<%= currentUser._id %>" name="id">
        <input type="submit" name="submit" value="Submit" class="form-control create-submit login-home">
    
        <div class="sidenav">
            <div class="login-main-text">
               <h2>START A <span class="jamiyahHero">JAMIYAH!</span></h2>
               <p>You and a group of your trusted <br> participants can join together <br> to create a community saving.</p>
            </div>
         </div>
        </div>
    </form>


</div>



<div class="footer">
    <h5>©GA, Jamiyah. 2023. </h5>
</div>