<!-- <h1><% /*Jamiyah.name*/ %></h1>

<h2>The Duration is <%= /*Jamiyah.duration*/ %></h2>

<h3>The Amount is <%= /*jamiyah.amount*/ %></h3> -->

<div class="menu">
    <div class="logo">
        <img src="../../imgs/Jamiyah.png" alt="jamiyah logo">
    </div>
    <div class="nav">
        <nav class="">
            <a href="/jamiyah/home" class="selected">Home</a>
            <a href="/jamiyah/create" >Add</a>
            <a href="/user/profile" >Profile</a>
        </nav>
    </div>
</div>
<div>
    <h1>Jamiyah Details</h1>
    <label>Name</label>
    <input type="text" name="name">
</div>

<div>
    <label>Description</label>
    <input type="text" name="description">
</div>

<div>
    <label>Duration</label>
    <input type="text" name="duration">
</div>

<div>
    <label>Monthly contribution</label>
    <input type="number" name="monthlyContribution">
</div>

<div>
    <label>Participants</label>
    <input type="number" name="participants">
</div>

<div class="footer">
    <h5>©GA, Jamiyah. 2023. </h5>
</div>