<div class="menu">
    <div class="logo">
        <a href="/"><img src="../../imgs/Jamiyah.png" alt="jamiyah logo"></a>
    </div>
    <div class="nav">
        <nav class="icons">
            <a href="/jamiyah/home"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/jamiyah/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>





<div class="footer">
    <h5>©GA, Jamiyah. 2023. </h5>
</div>