<h3>Jamiyah </h3>

<table>
    <tr>
        <th>Jamiyah Name</th>
        <th>Duration</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    <tr>
        <!-- <td><%= /*Jamiyah.name*/ %> </td>
        <td><%= /*Jamiyah.duration*/ %> </td>
        <td><%= /*Jamiyah.amount*/ %> </td>
        <td><%= /*Jamiyah.description*/ %> </td> -->
        <td>
    </tr>
</table>
    