<div class="menu">
    <div class="logo">
        <a href="/"><img src="../../imgs/Jamiyah.png" alt="jamiyah logo"></a>
    </div>
    <div class="nav">
        <nav class="icons">
            <a href="/jamiyah/home"><i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/jamiyah/create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
        </nav>
    </div>
</div>


<div class="body">
    <div class="header">
        <h1>My Jamiyah's</h1>
    </div>
    <div class="container-fluid service position-relative px-5 mt-5" style="margin-bottom: 135px;">
        <div class="container">
            <div class="row g-5">
                <% jamiyahs.forEach(a => {%>
                
                <div class="col-lg-4 col-md-6">
                    <div class="card-bg border-inner text-white p-5">
                        <h4 class="text-uppercase mb-3"> <%= a.name %></h4>
                        <p> <%= a.description %></p>
                        <h2> BD <%= a.monthlyContribution %></h2>
                        <a class="link text-uppercase" href="/jamiyah/details?id=<%= a._id %>">Go to Jamiyah! <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <%}); %>
            </div>
        </div>
    </div>
</div> 

<!-- <div class="header">
    <h1>My Jamiyah's</h1>
</div>

<div class="card-current">
    <h4 class="text-uppercase mb-3 jamName">Jamiyah Name</h4>
    

</div> -->

<div class="footer">
    <h5>©GA, Jamiyah. 2023. </h5>
</div>